.logo {
}

.background {
    background-color: #FFFFFF;
}

.navigation{
	height:50px;
	width:100%;
	display:flex;
	justify-content: space-around;
	align-content:center;
	align-items:center;
}

.navbutton{
	border: none 1px black;
	background:#FFFFFF;
	padding:12px 7px 12px 7px;
	color:#0090a9;
	font-family:arial;
}
.navbutton:active {
   	 outline:none;
	border: none;
}
.navbutton:focus {
   	 outline:none;
	border: none;
}
